.zone{
	color: white;
	padding: 10px;
}

.bluegreen{ background-color: #248077; }

.aqua{ background-color: #74AD8D;}

.pinkish{ background-color: #C82754;}

.big-bird{ background-color: #F7BB21;}

.beach{ background-color: #F9E2B7;}